@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


@keyframes move-up-animtaion {
    from {
        
    }
    to {
        height: 150px;
        width: 150px;
        top: 0;
        left: 0;
        margin-left: 0;
        opacity: 0.5;
    }
  }

.move-up{
    animation-name: move-up-animtaion;
    animation-duration: 4s;
    animation-fill-mode: forwards; 
}

[x-cloak] { display: none !important; }

.nav-menu_items{
    @apply w-full p-2 hover:bg-gray-300 hover:rounded-md
}